<h2>User info</h2>
<%= form_for(@user) do |f| %>
<%= render 'layouts/errors', obj: @user %>
  <div class="user-name">Name</div>
    <%= f.text_field :name %>
  <div class="user-edit-image">Image</div>
    <%= f.file_field :profile_image,  accept: "image/*" %>
  <div class="form-body">Introduction</div>
    <%= f.text_area :introduction %><br>
  <div class="upload">
    <%= f.submit " Update User" %>
  </div>
<% end %>